<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aceman.soireegaming">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.SoireeGamingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppThemeSG">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
        <activity android:name="com.aceman.soireegaming.ui.bottomnavigation.messages.chat.ChatLogActivity" />
        <activity android:name=".ui.event.detail.EventDetailActivity">
        </activity>
        <activity
            android:name=".ui.event.create.CreateEventActivity"
            android:parentActivityName=".ui.home.main.MainActivity">
        </activity>
        <activity
            android:name=".ui.profile.edit.EditProfileActivity"
            android:parentActivityName=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.about.AboutActivity" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:parentActivityName=".ui.home.main.MainActivity" />
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.home.main.MainActivity" />
    </application>

</manifest>